/* Write your CSS code here. */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ffeeee, #ffc0bb);
  min-height: 100vh;
  padding: 30px;
}

.feedback-questions-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .feedback-questions-card {
    width: 70%;
  }
}

.feedback-question {
  font-size: 25px;
  text-align: center;
  font-family: roboto;
}

@media screen and (min-width: 768px) {
  .feedback-question {
    font-size: 30px;
  }
}

.feedback-emoji-list {
  display: flex;
  justify-content: space-around;
  padding: 0px;
}

.thank-you-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
}

.love-emoji {
  width: 20%;
}

.thank-you-text {
  color: black;
  font-family: roboto;
}

.assurance-text {
  color: #1e293b;
  font-family: roboto;
  text-align: center;
}
